h2{
    color: red;
}

.body{
    background: red;
    height: 50px;
}
.header{
    display: flex;
    height: 50px;
}

.logo{
    background: red;
    width: 300px;
}

.search{
    width: 70%;
    background: #afafaf;
}